@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

:root {
  --background-color: linear-gradient(120deg, #f5f5dc, #d1c6b1, #bfae8e);
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-button {
  position: absolute;
  top: -5.9vh;
  height: 3vh;
  width: 7vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease;
}

.top-button:hover {
  transform: scale(1.1);
  background-color: rgb(17, 255, 84);
}

.top-button:active {
  transform: translate(0px, 1vh);
}

.knurling {
  height: 3vh;
  width: 0.1vh;
  border: 1px solid black;
}

.stem {
  position: absolute;
  top: -3vh;
  height: 3vh;
  width: 2vh;
  border: 1.5px solid black;
  border-top: none;
}

.top-side-button {
  top: 2.8vh;
  right: 4vh;
  transform: rotate(40deg);
  position: absolute;
  height: 3vh;
  width: 7vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, background-color 0.3s ease;
}

.top-side-button:hover {
  transform: scale(1.1) rotate(40deg);
  background-color: tomato;
}

.top-side-button:active {
  transform: translate(-0.9vh, 1vh) rotate(40deg);
}

.stem-stop {
  position: absolute;
  top: 4.9vh;
  right: 7.9vh;
  transform: rotate(40deg);
  height: 2vh;
  width: 2vh;
  border: 1.5px solid black;
  border-top: none;
}

.outer-circle {
  position: relative;
  display: grid;
  place-items: center;
  height: 55vh;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0 rgba(8, 8, 8);
  background: conic-gradient(
    #555 var(--progress, 0),
    transparent 0%
  );
  transition: --progress 700ms ease-out;
} 

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: inset -1px -1px 5px 0 rgba(8, 8, 8);
  background: var(--background-color);
}

.time, .time-separator {
  font-size: 8rem;
  text-align: center;
}

.time {
  width: 25%;
  background: transparent;
  outline: none;
}

.time-separator {
  padding-bottom: 3%;
}

.btn-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  height: 40%;
  aspect-ratio: 3/1;
  border-radius: 4rem;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  background: transparent;
  border: 1px solid black;
  box-shadow: 1px 1px 2px 0 rgba(8, 8, 8);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .container {
    height: 70%;
  }

  .stem-stop {
    top: 3.5vh;
    right: 6.4vh;
  }

  .top-side-button {
    top: 1.2vh;
    right: 2.4vh;
  }

  .outer-circle {
    height: 45vh;
  } 

  .time, .time-separator {
    font-size: 4rem;
  }

  .btn {
    font-size: 3rem;
    height: 50%;   
  }
}
