*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #f5f5dc, #d1c6b1, #bfae8e);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.container {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-circle {
  display: grid;
  place-items: center;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
}

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
}

.time, .time-separator {
  font-size: 8rem;
  text-align: center;
}

.time {
  width: 25%;
  background: transparent;
  outline: none;
}

.time::placeholder {
  color: black;
}

.time-separator {
  padding-bottom: 3%;
}

.btn-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 40%;
  aspect-ratio: 3/1;
  border-radius: 4rem;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
}


